.sec-training-section{
    /* width: 100%; */
    background:transparent;
    position: relative; 
    top:-295px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    
    }


      .sec-t1,.sec-t2,.sec-t3,.sec-t4{
        margin: 0 10px;
      width: 325px;
      height: 430px;
      background-color: #ffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* padding: 15px; */
      /* padding-top: -55px; */
      padding-left: 12px;
      padding-right: 12px;
      }
      .sec-t1 h1,.sec-t2 h1,.sec-t3 h1{
      font-size: 20.5px;
      color: #323030;
      /* padding-left: 10px;
      padding-right: 10px; */
      padding-left: 15px;
      padding-right: 15px;
      }
      .sec-t4 h1{

      }
      .caption{
        font-size: small;
        display: flex;
        flex-direction: row;
        /* justify-content:flex-start;
        align-items: center; */
        padding:12px;
      }
      .caption a{
        text-decoration: none;
        color:#238495;
        font-weight:500;
        font-size:12px
      }

      .caption button{

            margin-left: auto;
            /* margin-right: auto; */
            display: block;
            background-color: #238495;
            color: white;
            font-size: 12px;
            border: none;
            padding: 5px 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }
        
          .caption button:hover {
            background-color: #1a666e;
          }

          .sec-grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            justify-items: center;
            align-items: flex-start;
            padding: 0 14px;
          }
          
          .sec-grid-item {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            /* align-items: flex-start; */
            /* text-align: left; */
          }
          
          .sec-inside-caption {
            /* text-align: center; */
            font-size:13px;
          }
          
          .sec-inside-caption {
            /* font-size: 12px; */
            height:30px;
            margin-top: 0px;
            /* margin-bottom: 15px; */
            /* margin-left:12px;
            margin-right:5px; */
          }
          
          .sec-inside-caption {
            /* font-size: 14px; */
            color: #238495;
            text-decoration: none;
            font-weight: 500;
            /* margin-left: 5px; */
          }
          
          .sec-inside{
            width:140px;
            height:118px;
            object-fit: cover;
          }

          /* .sec-inside-div{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
          } */